@charset "UTF-8";

/* 共通部分
------------ */
html {
  font-size: 100%;
  background-color: #fff;
}
.header {
  height: 150px;
}
body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  min-height: 100vh;
  display: flex;
  width: 1100px;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
}
.flex-container {
  display: flex;
}
.sub-title {
  border-bottom: 2px rgb(216, 65, 65) solid;
}
/* 子要素(アイテム) */
.flex-item {
	margin: 10px auto;
	padding: 5px 10px;
	box-sizing: border-box;
	color: #fff;
}
/* ヘッダーについて */
.header-logo {
  width: 400px;
  height: 200px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 90px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width:  1100px;
  margin: 0 auto;
  padding:  0 4%;
}
/*---コンセプトについてーーー*/
.concept-theme {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.671);
  margin: 10px;
}
/*  メニュー --*/
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

/* アクセス */
/* 店舗情報・地図 */

#access_map {
float: none;
width: 50%;
}

#access iframe {
width: 100%;
}
/*---フッターについてーーー*/
footer {
  height: 30px;
  background: brown;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
}

/*---メディアクエリ---*/
@media screen and (max-width: 1100px) {
  body {
    width: 100%;
    flex-direction: column;
  }
}