@charset "UTF-8";

/* 共通部分
------------ */
html {
  font-size: 100%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1 {
  color: red;
}

h2 {
  color: blue;
}

/* ヘッダーについて */


/*  フッター */
footer {
  background: rgb(184, 53, 20);
  text-align: center;
  padding: 20px 0;
}
footer p {
  color: #fff;
  font-size: 0.8rem;
}